<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StringConexao" value="uid=root; server=localhost; password=aluno; database=wethrust" />
  </appSettings>
  <system.web>
      <compilation debug="true" targetFramework="4.0">
        
      </compilation>
    </system.web>
</configuration>